prometheus:
  prometheusSpec:
    retention: 7d
    retentionSize: 1400MB
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi

grafana:
  service:
    type: ClusterIP
  persistence:
    enabled: false